#f{
    color: rgb(152, 218, 132);
    box-shadow: 5px 5px 5px rgba(165, 255, 104,0.4);
}
#g{
    color: rgb(218, 142, 132);
    box-shadow: 5px 5px 5px rgba(165, 255, 104,0.4);
}
#y{
    color: rgb(52, 0, 148);
    box-shadow: 5px 5px 5px rgba(165, 255, 104,0.4);
}